*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}

/*-----Home Page-------*/

body{
	font-family: "Josefin Slab", "Times New Roman";
	background-color: #0b99bc;
}

/*-----Heading-------*/
header{

}

/*-----Nav Bar starts-------*/
nav{
	background-color: #d40e52;
	width: 100%;
	margin:0px;
	min-height: 50px;
	position: relative;
	top:0px;

}

a{
	text-decoration: none;
}

.nav_links{
	float: left;
	margin: 1% 5%;
	font-size: 1.5em;
	text-align: left;
	color: white;

}

.nav_links:hover{
	color:#3b3b3b;
}



/*-----Nav Bar Ends-------*/

/*-----Heading Starts-------*/
#content{
	clear:both;
	width: 100%;
	margin:0px;
	padding: 0px;
	min-height: 200px;
	position: fixed;
}

#head_image{
	width: 100%;
	opacity: .9;
	height: 100vh;

}

h1{
	position: fixed;
	top:50vh;
	left:25%;
	font-size: 7vw;
	color:white;
}
h1:hover{
	color:black;
	cursor: pointer;
}

hr{
	width: 100%;
	color:white;
}

hr:hover{
	color:#d40e52;
}

h2{
	color:white;
	position: fixed;
	top:65vh;
	font-size:3vw ;
	left:40%;
	margin-top:10px;
}
/*-----Heading Ends-------*/


/*-----Media Query starts-------*/


@media (min-width: 1200px){
	nav{
		height: 50px;
	}

}


@media (max-width: 760px){
	nav{
		min-height: 40px;
	}
	.nav_links{
		margin:1% 3%;
	}
	h1{
		left:25%;
		font-size: 7vw;
	}
	h2{
		font-size:3vw ;
		left:40%;
	}
}

@media (max-width: 560px){
	nav{
		min-height: 30px;
	}
	.nav_links{
		margin:1% 1%;
		border-right: 1px solid white;
		padding: 1.5px;

		font-size: 1.2em;
	}
	h1{
		left:25%;
		font-size: 7vw;
	}
	h2{
		font-size:3vw ;
		left:40%;
	}
}

}
/*-----Media Query Ends-------*/